body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.md-calendar-booking .mbsc-calendar-text {
  text-align: center;
}

.md-calendar-booking .booking-datetime .mbsc-datepicker-tab-calendar {
  flex: 1 1 0;
  min-width: 300px;
}

.md-calendar-booking .mbsc-timegrid-item {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.md-calendar-booking .mbsc-timegrid-container {
  top: 30px;
}

.calendar {
  padding: 50px;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
._3rDu9 {
  height: 500px !important;
}
/* 
._3rDu9 {
  color: black !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px !important;
}
._1m64i:hover,
._3ec3A:hover,
._1UuYB svg:hover {
  color: #1976d2 !important;
}
._2vk_9:hover {
  background-color: #1976d2 !important;
  color: white !important;
  padding: 5px !important;
}
._2Sh_S {
  margin-left: 30px; 
}
._1hJZv {
  background-color: white !important;
}
._3XUP3,
._1sBVS {
  border: 1px solid black;
}
._2Pla6 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
._2Pla6:hover {
  background-color: #1976d2 !important;
  color: white !important;
} */
